body{
    font-size: 2em;
    text-align: center;
}
h1{
    background-color:paleturquoise;
    color:white;
}
a{
    background-color:white;
    padding: 1em;
}
.orange{
    color: paleturquoise
    
}
.learn-link { 
    color: orange;
}

.title{
    text-align:center;
    font-size: 3em;
}
img{
    height: 16em;
    margin: 1em;
    border: 5px paleturquoise solid;  
}
.gallery-container{
    background-color: bisque;
    border: 3px paleturquoise solid;  
}

.buttonQ {
    background-color:lightblue;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: lightskyblue;
}

p span{
    color:blueviolet;
    font-size: 2em;
}

.special{
    font-size: 2em;
    color:rgb(128, 180, 225)
}