.main-header {
    position: relative;
    background: var(--mix-blue-green);
    place-content: center;
    border-radius: 0.5rem;
    gap: var(--em-1);
}

.nav-list {
    padding: 1.2em;
    gap: var(--em-1);
}

a {
    text-decoration: none;
    border-bottom: none;
    color:black;
}

