.flex {
    display: flex;
}

.btn {
    background: var(--mix-blue-green);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.hide{
    display: none;
}

.img {
    height: 100%;
    width: 10em;
}

.search-input {
    font-family: cursive;
    background-color: #ebeef3;
    border-radius: 1.75rem;
    border: none;
    height: 3rem;
    font-size: clamp(1vw, 1em, 3vw);
    width: 80%;
    padding-inline-start: 50px;
    margin:0 auto;
    margin-bottom: 0.5em;
}

