/* * {
    box-sizing: border-box;
} */

.main-screen{
    width:100%;
    flex-direction: column;
    place-items: center;
    gap: 1em;
}

.screen-shadow{
    /* height: 100%;
    width: 100%; */
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

