.meme-gallery-page {
    flex-direction: column;
    justify-content: center;
    background-color: #383B42;
}

.main-gallery {
    display: flex;
    flex-direction: column;
}

.mems {
    overflow-y: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
    padding-inline: 50px;
    scrollbar-color: var(--mix-blue-green);
}
