.meme-gallery-page {
    flex-direction: column;
    justify-content: center;
    background-color: #383B42;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    width:60vw;
}

.mems {
    overflow-y: auto;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
    padding-inline: 50px;
    scrollbar-color: var(--mix-blue-green);
    overflow: hidden;
    margin-left: 5em; 
}

#keywords {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-family: var(--font);
    border-radius: 0.5rem;
    background: var(--mix-blue-green);
    width: 30em;
    padding: 0.5em;
}